<p id="notice"><%= notice %></p>
<%#@household.primaries.each do |hm|%>
  <%#=hm.name%> <br />
<%#end%>

<%#= link_to 'Add Person', new_household_household_member_path(@household) %>
<br />
<%= link_to 'Edit', edit_household_path(@household) %> |
<%= link_to 'Back', households_path %>
